<div class="general">
    <app-navbar-company></app-navbar-company>
    <div class="sous-general">
        <div class="container-title-clear-blue">
            <div class="body-title">
                <div class="title-company">
                    <h3 class="clear-blue-title">Candidats sélectionnés</h3>
                </div>
            </div>
        </div>
        <div class="container-blue-selection">
            <div class="container-label">
                <div class="label-logo-decoy"></div>
                <div (click)="sortByUserName(route.snapshot.data.selectionList)" class="label-nom">Nom</div>
                <div (click)="sortById(route.snapshot.data.selectionList)" class="label-date">Date</div>
                <div (click)="sortByStatus(route.snapshot.data.selectionList)" class="label-statut">Statut</div>
                <div class="label-cv">CV</div>
                <div class="label-logo-decoy2"></div>
            </div>
        </div>


        <div class="selection-card">
            <div *ngFor="let selection of route.snapshot.data.selectionList" class="container-candidate">
                <div class=container-blue>
                    <i (click)="onDelete(selection.id)" class="fas fa-times delete" matTooltip="Supprimer"></i>
                    <div class="text">
                        <div class="container-img">
                            <img class="picture" src="http://pingjob.herokuapp.com/{{selection.User.picture}}">
                        </div>
                        <div class="name">{{ selection.User.firstName }} {{ selection.User.lastName }}</div>
                        <div class="date">{{ selection.updatedAt | date : "dd.MM.y" }}</div>
                        <div (click)="onTagPopup(selection.id)" class="message">
                            <div class="lepoint" [ngStyle]="{'background': selection.Tag.color}" matTooltip={{selection.Tag.name}}></div>
                        </div>
                        <div class="btn-download">
                            <a href="http://pingjob.herokuapp.com/{{selection.User.cv}}"><i class="fas fa-arrow-down fleche"></i></a>
                        </div>
                        <div class="btn-detail-small" (click)="onCreate(selection.User.id)">
                            <i class="fas fa-plus-circle plus"></i>
                        </div>
                    </div>
                </div>
                <div class="companyUser">
                    <p class="companyUserName">Modifié par : {{ selection.CompanyUser.name }}</p>
                </div>
            </div>

        </div>
        <div class="status-legende">
            <div *ngFor="let tag of route.snapshot.data.tagList" class="button">
                <div class="status blue" [ngStyle]="{'background-color': tag.color}"></div>
                <p>{{ tag.name }}</p>
            </div>
        </div>
    </div>
</div>