/************************* GÉNÉRAL *******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.general {
    display: flex;
    
    
}
/******************** Alignement centrale*****************/
.sous-genral{
    width:300%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    
}
/*********************** title***************************/
.container-title-clear-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    margin-left: 150px;

    
}

.body-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Nunito", sans-serif;
    // padding:20px;
  }

  .title-company {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:  #E9F6FF ;
    width: 450px;
    height: 80px;
    padding: 10px;
    margin: 10%;
    }
    
    h3 {
    padding-top: 15px;
    display: flex;
    text-align: center;
    color:   #60A4FF;
    }

/********************* les labels ***************************/
.container-blue-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  height: 40px;
  width:800px;
  
}
.container-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 10px;
  align-content: space-between;
  text-align: center;
  width:800px;
  height: 40px;
  margin-left:200px;

  
}

.label-logo-decoy{
  
  height: 20px;
  width: 100px;
  align-content: center;
  margin-left:30px;
  
  
}
.label-logo-decoy2{
  height: 20px;
  width: 100px;
  display: flex;
  align-content: center;
  margin-left:30px;
  
}

.label-nom {
  height: 20px;
  width: 100px;
  text-align: center;
  margin-left:70px;
}

.label-job-title {
  height: 20px;
  width: 100px;
  text-align: center;
  margin-left:30px;
}

.label-date{
  height: 20px;
  width: 100px;
  text-align: center;
  margin-left:30px;
}
.label-message{
  height: 20px;
  width: 100px;
  text-align: center;
  margin-left:50px;
}
.label-cv{
  height: 20px;
  width: 100px;
  text-align: center;
  margin-left:50px;
}



/*********************** selection card *************************/

.selection-card{
  overflow-x: hidden; 
  overflow-y: scroll;
  height: 55vh;
  width: inherit;
  margin:0px 2px 0px 150px;

}

/************************* scrollbar ******************************/
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: #60A4FF;
}


/************************* CARD *******************/
.container-candidate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin: 16px;
  width: 800px;

  // background-color: cadetblue;
}

.container-blue{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #60a4ff;
  padding: 20px;
  margin-right: 20px;
  padding-left: 0px;
  width: 800px;
  height: 70px;

}
.text {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  margin-left: 50px;
  height: 50px;
  font-size: 15px;
  color: #60a4ff;
  width: inherit;
}
.name{
  width: 100px;
  height: inherit;
  padding:10px;
  margin:10px;
}

.job-title{
  width: 100px;
  height: inherit;
  padding:10px;
  margin:10px;
}

.date{
  width: 100px;
  height: inherit;
  padding:10px;
  margin:10px;
}
/************************* Picture*******************/
.container-img{
  width:100px;
  height:100px;
  padding:20px;
  margin:20px;
}

.picture {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: top;
}

/************************* Message*******************/
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.lepoint{
  width: 10px;
  height: 10px;
  // background: #3fef4c;
  border-radius: 100%;
}

/************************* btn download*******************/

.btn-download{
  width: 100px;
  height: 50px;;
  padding:10px;
  margin:10px;
}

.fleche{

  background-color: none;
  font-size: light;
  color: grey;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;

}
/************************* btn small details*******************/

.btn-detail-small{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-self: flex-end;
  width: 100px;
  height: 31px;
}
.plus {
  flex-direction: row;
  align-content: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  width: 5px;
  height: 5px;
  padding: 10px;
  color: #60a4ff;
  cursor: pointer;
}


//////// pop up /////////

.content
{
  
  margin-left:35%;
  width:50%;
  height:30%;
  background-color: rgb(71, 67, 67);
  z-index: 9999;
}

.content-text {
  color: white;
  margin:0 auto;
  text-align: center;
  padding-top:50px;
}

