<div class="general">
        <app-navbar-company></app-navbar-company>
    
        <div class="sous-general">
    
            <div class="container-title-clear-blue">
                <div class="body-title">
                    <div class="title-company">
                        <h3 class="clear-blue-title"> Ping des candidats </h3>
                    </div>
                </div>
            </div>
    
            <div class="container-blue-selection">
                    <div class="container-label">
                        <div class="label-logo-decoy"></div>
                        <div class="label-nom">Nom</div>
                        <div class="label-job-title">Poste</div>
                        <div class="label-date">Date</div>
                        <div class="label-statut">Satut</div>
                        <div class="label-cv">CV</div>
                        <div class="label-logo-decoy2"></div>
                </div>
            </div>
    
            <div class="selection-card">
                <div *ngFor="let ping of route.snapshot.data.pingList" class="container-candidate">

                    <div class=container-blue>
            
                        <div class="text">
                            <div class="container-img">
                                <img class="picture" src="http://pingjob.herokuapp.com/{{route.snapshot.data.userList[ping.user_id-1].picture}}">
                            </div>
                            <div class="name">{{ route.snapshot.data.userList[ping.user_id-1].firstName }} {{ route.snapshot.data.userList[ping.user_id-1].lastName }}</div>
                            <div class="job-title"> {{ route.snapshot.data.offerList[ping.offer_id-1].title }}</div>
                            <div class="date">{{ ping.updatedAt | date : "dd.MM.y" }}</div>
                            <div (click)="openDialog(route.snapshot.data.statusList[ping.status_id-1].color)" class="message">
                                <div class="lepoint" [ngStyle]="{'background': route.snapshot.data.statusList[ping.status_id-1].color}"></div>
                            </div>  
                            <div class="btn-download">
                                <a href="http://pingjob.herokuapp.com/{{route.snapshot.data.userList[ping.user_id-1].cv}}"><i class="fas fa-arrow-down fleche"></i></a>
                            </div>
                        
                            <div class="btn-detail-small" (click)="onCreate(route.snapshot.data.userList[ping.user_id-1].id-1)">
                                <!-- INSERER POPUP USER CARD SUR CLICK DE CET ICONE -->
                                <i class="fas fa-plus-circle plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    
    