p {
    text-align: center;
}

.general {
    background-color: #E9F6FF;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 192px;
    justify-content: space-evenly;
}

.choice {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.button {
    height: 64px;
    width: 64px;
    transition: all .2s ease-in-out;
    outline: none;
}

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.status {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}