<div class="body">

    <div class="container-company">

      <div class="container-blue">

        <div class="container-logo">
          <img class="logo" src="assets/company-logo/ping_avatar.png" />
        </div>
        
        <div class="text">
          <div class="company">Efficience IT</div>
          <div class="job-title">Developpeur Web</div>
          <div class="date">11/06/2019</div>
          <div class="statut">
          <div class="lepoint"></div>
          </div>
        </div>
  
        
      </div>
      <div class="btn-detail-medium">
        <i class="fas fa-plus-circle plus"></i>
      </div>
    </div>
  </div>