<div class="body">

  <div class="container-company">

    <div class="container-blue">

      <div class="container-logo">
        <img class="logo" src="assets/company-logo/ping_avatar.png" />
      </div>

      <div class="text">
        <div class="container-text">
          <p class="company">Efficience IT</p>
        </div>
        <div class="container-text">
          <p class="job-title">Developpeur Web</p>
        </div>
        <div class="container-text">
          <p class="date">11/06/2019</p>
        </div>
        <div class="statut">
          <div class="lepoint"></div>
        </div>
      </div>

    </div>
    <div class="btn-detail-medium">
      <i class="fas fa-plus-circle plus" routerLink="/offer-user"></i>
    </div>
  </div>
</div>