<div class="body">

    <div class="container-company">

        <div class=container-blue>

            <div class="img">
                <img class="logo" src="download.png">
            </div>

            <div class="text">
                <p class="company">Efficience IT</p>
                <p class="job-title"> Developpeur Web</p>
                <p class="date">11/06/2019</p>
            </div>

            <div class="statut"></div>
        </div>
        <div class="btn-detail-medium">
            <i class="fas fa-plus-circle plus"></i>
        </div>
    </div>
</div>