
<div class="body">
    <div class="logo">
            <img class="logo-img" src="assets/logo-ping/blue_logo.png" alt="" routerLink="/">
    </div>   
    <div class="navbar-user">
        <div class="container">
            <div class="container-element" routerLink="/search-company" routerLinkActive="router-active">
                    <i class="fas fa-search icon"></i>
                    <p class="container-text">Recherche</p>
            </div> 
            <div class="container-element" routerLink="/ping" routerLinkActive="router-active">
                    <i class="fas fa-clipboard-list icon"></i>
                    <p class="container-text">Dashboard</p>
            </div> 
            <div class="container-element" routerLink="/selection-company" routerLinkActive="router-active">
                <i class="fas fa-user-check icon"></i>
                <p class="container-text">Selection profil</p>
             </div> 
            <div class="container-element" routerLink="/profil-company" routerLinkActive="router-active">
                <i class="fas fa-address-card icon"></i>
                <p class="container-text">Profil entreprise</p>
            </div> 
            <div class="container-element" routerLink="/offer-company" routerLinkActive="router-active">
                <i class="fas fa-th icon"></i>
                <p class="container-text">Offres</p>
            </div> 
        </div>

        <div class="deconnexion">
            <a (click)="onLogout()" class="log-out" routerLink="/">Déconnexion</a>
        </div>
    </div>
</div>