<div class="container">
        <div class="box">
            <div class="sous-container">
                <div class="container-text">
                    <h2 class="title">Front End Developer</h2>
                    <hr class="line">
                    <h4 class="company">Silicon Salad</h4>
                    <p class="description">
                        Un poste de Développeur Front-end en CDI. Travailler dans une
                        ambiance bienveillante et stimulante et l’opportunité de vous
                        investir dans des projets variés et passionnants
                    </p>

                </div>
                <div class="right-side">
                    <p class="contract-type">CDI</p>
                </div>
            </div>
            <div class="key-words">
                <p class="words">3 ans +</p>
                <p class="words">Créatif</p>
                <p class="words">Organisé</p>

            </div>
            <i class="fas fa-plus-circle plus search" routerLink="/offer-user"></i>
        </div>
        <div class="box">
            <div class="sous-container">
                <div class="container-text">
                    <h2 class="title">Front End Developer</h2>
                    <hr class="line">
                    <h4 class="company">Silicon Salad</h4>
                    <p class="description">
                        Un poste de Développeur Front-end en CDI. Travailler dans une
                        ambiance bienveillante et stimulante et l’opportunité de vous
                        investir dans des projets variés et passionnants
                    </p>

                </div>
                <div class="right-side">
                    <p class="contract-type">CDI</p>
                </div>
            </div>
            <div class="key-words">
                <p class="words">3 ans +</p>
                <p class="words">Créatif</p>
                <p class="words">Organisé</p>

            </div>
            <i class="fas fa-plus-circle plus"></i>
        </div>
        <div class="box">
            <div class="sous-container">
                <div class="container-text">
                    <h2 class="title">Front End Developer</h2>
                    <hr class="line">
                    <h4 class="company">Silicon Salad</h4>
                    <p class="description">
                        Un poste de Développeur Front-end en CDI. Travailler dans une
                        ambiance bienveillante et stimulante et l’opportunité de vous
                        investir dans des projets variés et passionnants
                    </p>

                </div>
                <div class="right-side">
                    <p class="contract-type">CDI</p>
                </div>
            </div>
            <div class="key-words">
                <p class="words">3 ans +</p>
                <p class="words">Créatif</p>
                <p class="words">Organisé</p>

            </div>
            <i class="fas fa-plus-circle plus"></i>
        </div>
        <div class="box">
            <div class="sous-container">
                <div class="container-text">
                    <h2 class="title">Front End Developer</h2>
                    <hr class="line">
                    <h4 class="company">Silicon Salad</h4>
                    <p class="description">
                        Un poste de Développeur Front-end en CDI. Travailler dans une
                        ambiance bienveillante et stimulante et l’opportunité de vous
                        investir dans des projets variés et passionnants
                    </p>

                </div>
                <div class="right-side">
                    <p class="contract-type">CDI</p>
                </div>
            </div>
            <div class="key-words">
                <p class="words">3 ans +</p>
                <p class="words">Créatif</p>
                <p class="words">Organisé</p>

            </div>
            <i class="fas fa-plus-circle plus"></i>
        </div>
</div>