<div class="general">
        <app-navbar-user></app-navbar-user>
        <div class="sous-general">
            <div class="ping">
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    <h1>hello</h1><br>
                    
            </div>
            <div class="value">
                <div class="info">
                    <span class="number">4</span>
                    <p class="text">Annonces vues  <br> cette semaine</p>
                </div>
                <div class="info">
                    <span class="number">6</span>
                    <p class="text">Entreprises ont <br> vu votre profil <br> cette semaine</p>
                </div>
            </div>
        </div>
        
</div>
