/************************* GÉNÉRAL *******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.general {
    display: flex;
    
}
/******************** Alignement centrale*****************/
.sous-genral{
    width:400%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
/***********************tittle***************************/
.container-title-clear-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    margin-left: 150px;
  
}

/********************* les labels ***************************/
.container-blue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  height: 40px;
  margin-left: 150px;
}
.container-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 10px;
  align-content: space-between;
  text-align: center;
  margin-left: 50px;
  width: inherit;
  
}

.label-logo-decoy{
  height: 20px;
  width: 100px;
  align-content: center;
  display:flex;
  flex-direction: center;
}
.label-logo-decoy2{
  
  height: 20px;
  width: 100px;
  align-content: center;
}

.label-company {
  height: 20px;
  width: 100px;
  text-align: center;
  
}

.label-job-title {
  height: 20px;
  width: 100px;
  text-align: center;
  
}

.label-date{
  height: 20px;
  width: 100px;
  text-align: center;
}
.label-statut{
  height: 20px;
  width: 100px;
  text-align: center;
}
.label-date{
  height: 20px;
  width: 100px;
  text-align: center;
}

.label-statut {
  height: 20px;
  width: 100px;
  text-align: center;
}

/***********************component card ping*************************/

.card-ping{
  overflow-x: hidden; 
  overflow-y: scroll;
  height: 57vh;
  width: inherit;
  margin:0px 0px 0px 150px;

}

/*************************scrollbar******************************/
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: #60A4FF;
}
