<div class="body">

    <header class="header">
        <div class="logo-container">
                <img class="logo-white" src="assets/logo-ping/logo-blanc.png" alt="">
                <img class="logo" src="assets/logo-ping/blue_logo.png" alt="">
        </div>
        <div class="buttons-top">
            <a class="btn-white-top" routerLink="/dashboard-user">Candidat</a>
            <a class="btn-white-top" routerLink="/ping">Entreprise</a>
        </div>
    <div class="menu-burger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
    </div>
    </header>

    <div class="container">         
        <div class="info">
            <p class="emploi">Ping,<br> votre emploi<br> en quelques clics !</p>
            <div class="btn-offre">
                    <a routerLink="/error-404" class="btn-white">VOIR LES OFFRES</a>
            </div>
        </div>
    </div>
    <footer class="btn-social">
            <i class="fab fa-facebook-f social" routerLink="/sign-in-company"></i>
            <i class="fab fa-twitter social" routerLink="/identification-user"></i>
            <i class="fab fa-linkedin-in social" routerLink="/sign-up-company"></i>
    </footer>  
</div>

<!-- [ngStyle]="{'background' : 'url(./assets/illustration/background.png)' , 'background-repeat': 'no-repeat',  'background-size':'cover'}" -->