<div class="body">

    <header class="header">
        <div class="logo-container">
                <i class="fas fa-arrow-circle-left back" routerLink="/"></i>
                <img class="logo-white" src="assets/logo-ping/logo-blanc.png" alt="">
                <img class="logo" src="assets/logo-ping/blue_logo.png" alt="">
        </div>
    </header>

    <div class="souscription-title">
            <h1>Tarifs</h1>
    </div>

    <div class="container">

        <div class="column-prestation">
            <div class="title">
                <h2><br></h2>
            </div>
            <div class="price">
                <h4><span></span></h4>
            </div>
            <div class="prestation">
                <ul>
                    <li class="list">Mise en ligne d’une annonce</li>
                    <li class="list">Accès à la cvthèque</li>
                    <li class="list">Vu sur les ping</li>
                    <li class="list">Mise en ligne de plusieurs annonces</li>
                    <li class="list">Possibilité de sélection de profil</li>
                    <li class="list">Avoir plusieurs comptes admin</li>
                    <li class="list">Clics illimité</li>
                    <li class="list">Téléchargement de CV illimité</li>
                    <li class="list">Liens réseaux sociaux</li>
                </ul>
            </div>
        </div>

        <div class="column">
                <div class="title">
                    <h2>Starter</h2>
                </div>
                <div class="price">
                    <h4><span><a href="#">Gratuit</a></span></h4>
                </div>
                <div class="option">
                    <ul>
                        <li class="list"><i class="fas fa-check"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                        <li class="list"><i class="fas fa-times"></i></li>
                    </ul>
                </div>
            </div>

            <div class="column">
                    <div class="title">
                        <h2>Premium</h2>
                    </div>
                    <div class="price">
                        <h4><span><a href="#">250 € / mois</a></span></h4>
                    </div>
                    <div class="option">
                        <ul>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-times"></i></li>
                            <li class="list"><i class="fas fa-times"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="column">
                    <div class="title">
                        <h2>Premium Plus</h2>
                    </div>
                    <div class="price">
                        <h4><span><a href="#">300 € / mois</a></span></h4>
                    </div>
                    <div class="option">
                        <ul>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                            <li class="list"><i class="fas fa-check"></i></li>
                        </ul>
                    </div>
                </div>
    </div>
</div>

