<div class="general">
    <app-navbar-company></app-navbar-company>
    <div class="general-bis">
        <div class="search-contract">
            <app-input-search></app-input-search>
            <div class="search">
                <div class="contract">
                    <p class="type">CDD</p>
                    <p class="type">CDI</p>
                    <p class="type">STAGE</p>
                    <p class="type">ALTERNANCE</p>
                    <p class="type">FREELANCE</p>
                </div>
            </div>
        </div>

        <!--CARTE CANDIDAT UN -->


        <div class="card-candidat">
            <div class="container">
                <div class="blue">
                    <div class="sous-container">
                        <img class="profile" src="assets/avatar/portrait.jpg">
                    </div>
                    <div class="container-text">
                        <div class="top">
                            <h4 class="title">Mathieu Degong </h4>
                            <p class="contract-type">CDI</p>
                        </div>
                        <p class="description">
                            Développeur back-end spécialisé en Python, je possède 3 ans d’expérience chez IBM. Je
                            suis
                            capable
                            de travailler en équipe et je suis très flexible.
                        </p>
                        <div class="key-words">
                            <p class="words">3 ans +</p>
                            <p class="words">Créatif</p>
                            <p class="words">Organisé</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="statut"></div>
                        <i class="fas fa-plus-circle plus"></i>
                    </div>
                </div>
                <div class="btn-check">
                    <i class="fas fa-check-circle check"></i>
                </div>
            </div>
            <div class="container">
                    <div class="blue">
                        <div class="sous-container">
                            <img class="profile" src="assets/avatar/portrait.jpg">
                        </div>
                        <div class="container-text">
                            <div class="top">
                                <h4 class="title">Mathieu Degong </h4>
                                <p class="contract-type">CDI</p>
                            </div>
                            <p class="description">
                                Développeur back-end spécialisé en Python, je possède 3 ans d’expérience chez IBM. Je
                                suis
                                capable
                                de travailler en équipe et je suis très flexible.
                            </p>
                            <div class="key-words">
                                <p class="words">3 ans +</p>
                                <p class="words">Créatif</p>
                                <p class="words">Organisé</p>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="statut"></div>
                            <i class="fas fa-plus-circle plus"></i>
                        </div>
                    </div>
                    <div class="btn-check">
                        <i class="fas fa-check-circle check"></i>
                    </div>
                </div>
            <div class="container">
                    <div class="blue">
                        <div class="sous-container">
                            <img class="profile" src="assets/avatar/portrait.jpg">
                        </div>
                        <div class="container-text">
                            <div class="top">
                                <h4 class="title">Mathieu Degong </h4>
                                <p class="contract-type">CDI</p>
                            </div>
                            <p class="description">
                                Développeur back-end spécialisé en Python, je possède 3 ans d’expérience chez IBM. Je
                                suis
                                capable
                                de travailler en équipe et je suis très flexible.
                            </p>
                            <div class="key-words">
                                <p class="words">3 ans +</p>
                                <p class="words">Créatif</p>
                                <p class="words">Organisé</p>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="statut"></div>
                            <i class="fas fa-plus-circle plus"></i>
                        </div>
                    </div>
                    <div class="btn-check">
                        <i class="fas fa-check-circle check"></i>
                    </div>
                </div>
        </div>

    </div>
</div>