<div class="general">
    <div class="navbar">
        <app-navbar-company></app-navbar-company>
    </div>
    <div class="burger">
        <div class="menu-toggle">
            <input type="checkbox" />
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <ul class="burger-menu-elem">
                <a class="text-menu" href="#">
                    <li>Search</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Ping</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Dashboard</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Profil</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Annonces</li>
                </a>
            </ul>
        </div>
    </div>


    <div class="general-bis">
        <div class="search-contract">

            <!----- SEARCH INPUT ---------->

            <div class="search-input">
                <div class="input-wrapper">
                    <input type="search" placeholder=" QUOI ?" [(ngModel)]="search" (ngModelChange)="change()">
                    <span class="input-icon fa fa-search"></span>

                </div>
            </div>
        </div>



        <!----- CARTES CANDIDATS  ---------->
        <div class="card-candidat">
            <!--CARTE CANDIDAT UN -->
            <i class="blue-text" *ngIf="filteredArray.length < 1">
                Aucun profil ne correspond à vos critères.
            </i>
            <div *ngFor="let user of newUsers" class="container">
                <div class="blue">
                    <div class="sous-container">
                        <img class="profile" src="http://pingjob.herokuapp.com/{{user.picture}}">
                    </div>
                    <div class="container-text">
                        <div class="top">
                            <h4 class="title">{{ user.firstName }} {{ user.lastName }}</h4>
                            <!-- ?ContractType ici? -->
                            <!-- <p class="contract-type">CDI</p> -->
                        </div>
                        <p class="description">
                            {{ user.about }}
                        </p>
                        <div class="key-words">
                            <p class="words">{{ user.KeyWordOne.name }}</p>
                            <p class="words">{{ user.KeyWordTwo.name }}</p>
                            <p class="words">{{ user.KeyWordThree.name }}</p>
                        </div>
                    </div>
                    <div class="right-side">
                        <!-- un utilisateur peut postuler sur plusieurs annonces, de quel statut parle-t-on ici donc ? -->
                        <!-- <div class="statut"></div> -->
                        <!-- <i class="fas fa-plus-circle plus"></i> -->
                    </div>
                </div>
                <div class="btn-check-send">
                    <!-- <i (click)='animateMe()' class="fas fa-check-circle check"></i> -->
                    <i (click)='addSelection(user.id)' class="fas fa-check check"></i>
                    <!-- <p [@envoi]='state'>Envoyé</p> -->
                </div>
            </div>
            <div *ngFor="let user of addedUsers" class="container">
                <div class="blue">
                    <div class="sous-container">
                        <img class="profile" src="http://pingjob.herokuapp.com/{{user.picture}}">
                    </div>
                    <div class="container-text">
                        <div class="top">
                            <h4 class="title">{{ user.firstName }} {{ user.lastName }}</h4>
                            <!-- ?ContractType ici? -->
                            <!-- <p class="contract-type">CDI</p> -->
                        </div>
                        <p class="description">
                            {{ user.about }}
                        </p>
                        <div class="key-words">
                            <p class="words">{{ user.KeyWordOne.name }}</p>
                            <p class="words">{{ user.KeyWordTwo.name }}</p>
                            <p class="words">{{ user.KeyWordThree.name }}</p>
                        </div>
                    </div>
                    <div class="right-side">
                    </div>
                </div>
                <div class="btn-check-send">
                    <i (click)='removeSelection(user.id)' class="fas fa-times uncheck"></i>
                </div>
            </div>
        </div>

    </div>
</div>