
<div class="general">
    <app-navbar-user></app-navbar-user>
    <div class="sous-general">
        <div class="left-part">
            <div class="profile-top">
                <div class="profile-top-header">
                    <div class="dark-title">Mon Profil</div>
                    <div class="on-off">emplacement ON/Off
                            <!-- <mat-slide-toggle>On/Off</mat-slide-toggle> -->
                    </div>
                </div>
                <div class="temp-profile-user-card">
                    <app-blue-card-user></app-blue-card-user>
                </div>
            </div>
            <div class="profile-bottom">
                <div class="profile-bleft">
                    <div class="dark-title">Mon CV</div>
                    <div class="cv-import">
                        <div class="cv-import-text">Importer un nouveau CV</div>
                        <button class="cv-import-button">Choisir un fichier</button>
                    </div>
                    <div class="cv-download">
                        <div class="cv-download-text">Télécharger mon CV</div>
                        <a href="#"><i class="fas fa-arrow-circle-down btn-dl"></i></a>
                    </div>
                </div>
                <div class="profile-bright">
                    <div class="dark-title">Réseaux</div>
                    <div class="btn-social">
                        <a href="#"><i class="fab fa-facebook-f socialfb"></i></a>
                        <a href="#"><i class="fab fa-twitter socialtw"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in sociallnk"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="dark-title">Mes informations</div>
            <form class="form-blue" action="">
                    <!-- <input class="input-blue" type="text"placeholder="Nom">
                    <input class="input-blue" type="text" placeholder="Prenom">
                    <input class="input-blue" type="text" placeholder="Mail">
                    <input class="input-blue" type="text" placeholder="Mot de passe"> -->
                    <mat-form-field >
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Dupont">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prenom</mat-label>
                        <input matInput placeholder="Hugues">
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Mail</mat-label>
                        <input matInput placeholder="exemple@gmail.com">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Téléphone</mat-label>
                        <input matInput placeholder="07.20.30.55.60">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="*******">
                    </mat-form-field>
                </form>
            <!-- <div class="edit-form"></div> -->
            <div class="edit-submit">
                <button class="submit">
                    <p> Modifier</p>
                </button> ​
            </div>
        </div>
    </div>

























    
</div>