<div class="general">
    <app-navbar-user></app-navbar-user>
    <div class="sous-general">
        <div class="left-part">
            <div class="profile-top">
                <div class="profile-top-header">
                    <div class="dark-title">Mon Profil</div>
                    <!-- button on/off -->
                    <div class="on-off">
                        <div class="container">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                    id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- button on/off end -->
                </div>
                <!-- <div class="temp-profile-user-card"> -->
                    <!-- <app-blue-card-user></app-blue-card-user> -->
                    <div class="container-user">
                        <div class="blue">
                            <div class="sous-container">
                                <img class="profile" src="assets/avatar/portrait.jpg">
                            </div>
                            <div class="container-text">
                                <div class="top">
                                    <h4 class="title">Mathieu Degong </h4>
                                </div>
                                <p class="description">
                                    Développeur back-end spécialisé en Python, je possède 3 ans d’expérience chez
                                    IBM. Je
                                    suis
                                    capable
                                    de travailler en équipe et je suis très flexible.
                                </p>
                                <div class="key-words">
                                    <p class="words">3 ans +</p>
                                    <p class="words">Créatif</p>
                                    <p class="words">Organisé</p>
                                </div>
                            </div>
                            <div class="right-side">
                                <div class="statut"></div>
                                <!-- <i class="fas fa-plus-circle plus"></i> -->
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <div class="profile-bottom">
                <div class="profile-bleft">
                    <div class="dark-title">Mon CV</div>
                    <div class="cv-import">
                        <div class="cv-import-text">Importer un nouveau CV</div>
                        <button class="cv-import-button">Choisir un fichier</button>
                    </div>
                    <div class="cv-download">
                        <div class="cv-download-text">Télécharger mon CV</div>
                        <a href="#"><i class="fas fa-arrow-circle-down btn-dl"></i></a>
                    </div>
                </div>
                <div class="profile-bright">
                    <div class="dark-title">Réseaux</div>
                    <!-- <div class="btn-social">
                        <a href="#"><i class="fab fa-facebook-f socialfb"></i></a>
                        <a href="#"><i class="fab fa-twitter socialtw"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in sociallnk"></i></a>
                    </div> -->
                    <div class="btn-social">
                        <i class="fab fa-facebook-f social"></i>
                        <i class="fab fa-twitter social"></i>
                        <i class="fab fa-linkedin-in social"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="dark-title">Mes informations</div>
            <form class="form-blue" action="">
                <!-- <input class="input-blue" type="text"placeholder="Nom">
                    <input class="input-blue" type="text" placeholder="Prenom">
                    <input class="input-blue" type="text" placeholder="Mail">
                    <input class="input-blue" type="text" placeholder="Mot de passe"> -->
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Dupont">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Prenom</mat-label>
                    <input matInput placeholder="Hugues">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mail</mat-label>
                    <input matInput placeholder="exemple@gmail.com">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Téléphone</mat-label>
                    <input matInput placeholder="07.20.30.55.60">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput placeholder="*******">
                </mat-form-field>
                <!-- <div class="edit-form"></div> -->
                <div class="edit-submit">
                    <button class="submit">
                        <p> Modifier</p>
                    </button> ​
                </div>
            </form>
        </div>
    </div>


























</div>