<div class="general">
    <app-navbar-user></app-navbar-user>

    <div class="sous-general">
        <div class="left-part">
            <div class="profile-top">
                <div class="profile-top-header">
                    <div class="dark-title">Mon Profil</div>
                    <!-- button on/off -->
                    <div class="on-off">
                        <div class="container">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- button on/off end -->
                </div>
                <!-- <div class="temp-profile-user-card"> -->
                <!-- <app-blue-card-user></app-blue-card-user> -->
                <!-- </div> -->

                <div class="card-candidat">
                    <!--CARTE CANDIDAT UN -->
                    <div class="container">
                        <div class="blue">
                            <div class="sous-container">
                                <img class="profile" src="http://pingjob.herokuapp.com/{{route.snapshot.data.userDetails.picture}}">
                            </div>
                            <div class="container-text">
                                <div class="top">
                                        <form *ngIf="click else noFormFirstNameUserCard" [formGroup]="formFirstNameUserCard" (ngSubmit)="onSubmit()" class="form">
                                                <mat-form-field>
                                                    <input matInput placeholder="Prenom" formControlName="firstnamecard" required>
                                                </mat-form-field>
                                                <button class="submit">Valider</button>
                                            </form>
                                            <ng-template #noFormFirstNameUserCard>
                                                    <h4 class="title">{{ route.snapshot.data.userDetails.firstName }}</h4>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>

                                        <form *ngIf="click else noFormLastNameUserCard" [formGroup]="formLastNameUserCard" (ngSubmit)="onSubmit()" class="form">
                                                <mat-form-field>
                                                    <input matInput placeholder="Nom" formControlName="lastnamecard" required>
                                                </mat-form-field>
                                                <button class="submit">Valider</button>
                                            </form>
                                            <ng-template #noFormLastNameUserCard>
                                                    <h4 class="title">{{ route.snapshot.data.userDetails.lastName }}</h4>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>
                                    <!-- <h4 class="title">{{ route.snapshot.data.userDetails.firstName }} {{ route.snapshot.data.userDetails.lastName }} </h4> -->

                                </div>
                                <form *ngIf="click else noFormDescriptionUser" [formGroup]="formDescriptionUser" (ngSubmit)="onSubmit()" class="form">
                                        <mat-form-field>
                                            <mat-label>Description de l'entreprise</mat-label>
                                            <textarea matInput placeholder="Description" formControlName="description" required cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                                        </mat-form-field>
                                        <button class="submit">Valider</button>
                                    </form>
                                    <ng-template #noFormDescriptionUser>
                                        <p>{{ route.snapshot.data.userDetails.about }}</p>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>
                                <!-- <p class="description">
                                    {{ route.snapshot.data.userDetails.about }}
                                </p> -->
                                <div class="key-words">
                                        <form *ngIf="click else noFormKeywordsUserOne" [formGroup]="formKeywordsUserOne" (ngSubmit)="onSubmit()" class="form">
                                                <mat-form-field>
                                                    <input matInput placeholder="keywords" formControlName="keywordsone" required>
                                                </mat-form-field>
                                                <button class="submit">Valider</button>
                                            </form>
                                            <ng-template #noFormKeywordsUserOne>
                                    <p class="words">{{ route.snapshot.data.userDetails.KeyWordOne.name }}</p>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>

                                        <form *ngIf="click else noFormKeywordsUserTwo" [formGroup]="formKeywordsUserTwo" (ngSubmit)="onSubmit()" class="form">
                                                <mat-form-field>
                                                    <input matInput placeholder="keywords" formControlName="keywordstwo" required>
                                                </mat-form-field>
                                                <button class="submit">Valider</button>
                                            </form>
                                            <ng-template #noFormKeywordsUserTwo>
                                  
                                    <p class="words">{{ route.snapshot.data.userDetails.KeyWordTwo.name }}</p>
                                   
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>

                                        <form *ngIf="click else noFormKeywordsUserThree" [formGroup]="formKeywordsUserThree" (ngSubmit)="onSubmit()" class="form">
                                                <mat-form-field>
                                                    <input matInput placeholder="keywords" formControlName="keywordsthree" required>
                                                </mat-form-field>
                                                <button class="submit">Valider</button>
                                            </form>
                                            <ng-template #noFormKeywordsUserThree>
                                   
                                    <p class="words">{{ route.snapshot.data.userDetails.KeyWordThree.name }}</p>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>
                                </div>
                            </div>
                            <div class="right-side">
                                <div class="statut"></div>
                                <!-- <i class="fas fa-plus-circle plus"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-bottom">
                <div class="profile-bleft">
                    <div class="dark-title">Mon CV</div>
                    <div class="cv-import">
                        <div class="cv-import-text">Importer un nouveau CV</div>
                        <button class="cv-import-button">Choisir un fichier</button>
                    </div>
                    <div class="cv-download">
                        <div class="cv-download-text">Télécharger mon CV</div>
                        <a href="http://pingjob.herokuapp.com/{{route.snapshot.data.userDetails.cv}}"><i class="fas fa-arrow-circle-down btn-dl"></i></a>
                    </div>
                </div>
                <div class="profile-bright">
                    <div class="dark-title">Réseaux</div>
                    <div class="btn-social">
                        <div class="logo-social">
                            <i class="fab fa-facebook-f social"></i>
                            <i class="fab fa-twitter social"></i>
                            <i class="fab fa-linkedin-in social"></i>
                        </div>
                        <div class="link-social">
                                <form *ngIf="click else noFormFacebookUser" [formGroup]="formFacebookUser" (ngSubmit)="onSubmit()" class="form">
                                        <mat-form-field>
                                            <input matInput placeholder="Facebook" formControlName="facebook" required>
                                        </mat-form-field>
                                        <button class="submit">Valider</button>
                                    </form>
                                    <ng-template #noFormFacebookUser>
                                        <p>{{route.snapshot.data.userDetails.facebook}}</p>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>
                                    
                                    <form *ngIf="click else noFormTwitterUser" [formGroup]="formTwitterUser" (ngSubmit)="onSubmit()" class="form">
                                        <mat-form-field>
                                            <input matInput placeholder="Twitter" formControlName="twitter" required>
                                        </mat-form-field>
                                        <button class="submit">Valider</button>
                                    </form>
                                    <ng-template #noFormTwitterUser>
                                        <p>{{route.snapshot.data.userDetails.twitter}}</p>
                                    </ng-template>
                                    <div class="right-side">
                                            <button class="far fa-edit modif" (click)='onClick()'></button>
                                        </div>
    
                                    <form *ngIf="click else noFormLinkedinUser" [formGroup]="formLinkedinUser" (ngSubmit)="onSubmit()" class="form">
                                            <mat-form-field>
                                                <input matInput placeholder="Linkedin" formControlName="linkedin" required>
                                            </mat-form-field>
                                            <button class="submit">Valider</button>
                                        </form>
                                        <ng-template #noFormLinkedinUser>
                                            <p>{{route.snapshot.data.userDetails.linkedin}}</p>
                                        </ng-template>
                                        <div class="right-side">
                                                <button class="far fa-edit modif" (click)='onClick()'></button>
                                            </div>
                            <!-- <a class="link" href="{{route.snapshot.data.userDetails.facebook}}">{{ route.snapshot.data.userDetails.facebook }}</a>
                            <a class="link" href="{{route.snapshot.data.userDetails.twitter}}">{{ route.snapshot.data.userDetails.twitter }}</a>
                            <a class="link" href="{{route.snapshot.data.userDetails.linkedin}}">{{ route.snapshot.data.userDetails.linkedin }}</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="dark-title">Mes informations</div>
            <form *ngIf="click else noFormLastNameUser" [formGroup]="formLastNameUser" class="form-blue" action="">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="lastname" placeholder="{{route.snapshot.data.userDetails.lastName}}" value="{{route.snapshot.data.userDetails.lastName}}">
                </mat-form-field>
                <button class="submit">Valider</button>
            </form>
            <ng-template #noFormLastNameUser>
                <p>Nom : </p>
                <p>{{route.snapshot.data.userDetails.lastName}}</p>
            </ng-template>
            <div class="right-side">
                    <button class="far fa-edit modif" (click)='onClick()'></button>
                </div>

                <form *ngIf="click else noFormFirstNameUser" [formGroup]="formFirstNameUser" class="form-blue" action="">
                    <mat-form-field>
                        <mat-label>Prenom</mat-label>
                        <input matInput formControlName="firstname" placeholder="{{route.snapshot.data.userDetails.firstName}}" value="{{route.snapshot.data.userDetails.firstName}}">
                    </mat-form-field>
                    <button class="submit">Valider</button>
                </form>
                <ng-template #noFormFirstNameUser>
                    <p>Prenom : </p>
                    <p>{{route.snapshot.data.userDetails.firstName}}</p>
                </ng-template>
                <div class="right-side">
                        <button class="far fa-edit modif" (click)='onClick()'></button>
                    </div>

                    <form *ngIf="click else noFormMailUser" [formGroup]="formMailUser" class="form-blue" action="">
                        <mat-form-field>
                            <mat-label>Mail</mat-label>
                            <input matInput formControlName="email" placeholder="{{route.snapshot.data.userDetails.email}}" value="{{route.snapshot.data.userDetails.email}}">
                        </mat-form-field>
                        <button class="submit">Valider</button>
                    </form>
                    <ng-template #noFormMailUser>
                        <p>Email : </p>
                        <p>{{route.snapshot.data.userDetails.email}}</p>
                    </ng-template>
                    <div class="right-side">
                            <button class="far fa-edit modif" (click)='onClick()'></button>
                        </div>
                <!-- <mat-form-field>
                    <mat-label>Prenom</mat-label>
                    <input matInput placeholder="{{route.snapshot.data.userDetails.firstName}}" value="{{route.snapshot.data.userDetails.firstName}}">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mail</mat-label>
                    <input matInput placeholder="{{route.snapshot.data.userDetails.email}}" value="{{route.snapshot.data.userDetails.email}}">
                </mat-form-field> -->
                <!-- <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput placeholder="" value="">
                </mat-form-field> -->
                <!-- <div class="edit-form"></div> -->
                <!-- <div class="edit-submit">
                    <button class="submit">
                        <p>Modifier</p>
                    </button> ​
                </div> -->
        </div>
    </div>
</div>