<div class="body">
    <div class="container">
        <div class="sous-container">
            <img class="profile" src="mathieu.png">
        </div>
        <div class="container-text">

            <h4 class="title">Mathieu Degong </h4>

            <p class="description">
                Développeur back-end spécialisé en Python, je possède 3 ans d’expérience chez IBM. Je suis capable
                de travailler en équipe et je suis très flexible.
            </p>
            <div class="key-words">
                <p class="words">3 ans +</p>
                <p class="words">Créatif</p>
                <p class="words">Organisé</p>
            </div>
        </div>
        <div class="right-side">
            <i class="far fa-edit modifier"></i>
        </div>
    </div>
</div>