/********************** Body *****************/
.body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Nunito', sans-serif;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
*{
    border:solid black 1px;
}
/********************** Key-words left side****************************/
.logo-and-keywords{
    width:15%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo-container {
    margin-top:30px;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.logo-white{
    display: none;
}

.menu-keywords{
    margin: 0 ;
    padding: 20px;
    background: #60A4FF;
    width: 100px;
    height: 300px;
    border-radius: 0 60px 60px 0;
    margin-top: 130px;
    justify-content: center;
    align-content: center;
}

.skills{
    color:#60A4FF;
    border-radius: 40px;
    background-color: #FFFFFF;
    font-size: 13px;
    align-content: center;
    justify-content: space-evenly;
    padding:10px;
    margin-top: 40px;
    text-align: center;
}
.return{
position: absolute;
bottom:30px;
left: 30px;
font-size: 40px;
color: #60A4FF;
outline:none;
cursor: pointer;
}
.return-bis{
    outline:none;
}
/*********************************container center card-offer*************************/

.container{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
    justify-content: center;
    background-color: pink;
}

.container-center{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
    width: 50%;
    margin-top:150px; 
}
.container-text-offer{
    background-color:  #E9F6FF;
    padding-right: 20px;
    border-radius: 0px 100px 0px 0px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    margin-left:10px;
    margin-bottom: 0; 
    height: 70%;
}
.title{
    color: #666666;
    margin-bottom:4px;
    font-size:20px;
    padding: 20px;
}

.line-offer{
    width:80%;
}

.company{
    color: #60A4FF;
    padding-left: 20px;
}

.description-offer {
    align-content: space-between;
    color: #60A4FF;
    padding: 20px;
    font-size:13px;
}

.key-words {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width:30%;
    height:50px;
    border-radius: 0px 60px 0 0px;
    background-color:#FFFFFF;
    position: absolute; 
    bottom: 0;   
}

.words {
    width:30%;
    height: 40%;
    background-color: #60A4FF;
    color:white;
    border-radius:20px;
    font-size:10px;
    text-align: center;
    align-content: center;
    align-items: center;
    vertical-align: baseline;
}
/*************************** About company  ***************************************/
.right-side{
    display: flex;
    flex-direction: column; 
    height: inherit;
    width: 40%;
    margin-right:5%;
    margin-top:150px; 
}
.card-and-mapp{
width: 600px;
padding: 20px;
margin-left: 40px;
margin-bottom: 0;
}
.company-card{
    display: flex;
    flex-direction: row;
    height:200px;
    margin:10px;
    padding:15px;
    background-color:  #E9F6FF;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    border-radius: 10px;
}

.logo-company{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding:15px;
}

 .logo-picture{
    display:flex;
    align-content: center;
    height:60px;
    width:60px;
    border-radius:100%;
}


.title-company{
    color: #666666;
    margin-bottom:4px;
    font-size:20px;
}

.line-company{
    width:100%;
    margin: 5px;
}

.description-company{
    font-size:13px;
    color: #60A4FF;
    padding: 15px;
}

/************************ Mapp ***************************/
.map{
    width: 100%;
    padding-top:15px; 
}
.carte{
    width: 100%;
    height: 200px;
}

/*********************Btn Ping ********************************/

.ping{
    display: flex;
    flex-direction: row-reverse;  
    margin-right: 2%;
    height: 5%;
    position: relative;
    
}

.btn-ping{
    background-color:  #60A4FF;
    outline: none;
    border-radius: 30px;
    width: 150px;
    float: right;
    display: flex;
    align-content: flex-end; 
    cursor: pointer;
}
p{
    color: #fff;
}
