<div class="body">

    <header class="header">
        <div class="logo-container">
                <img class="logo-white" src="assets/logo-ping/logo-blanc.png" alt="">
                <img class="logo" src="assets/logo-ping/blue_logo.png" alt="">
        </div>
    </header>

    <div class="menu-keywords">
        <div class="keywords">
            <ul>
                <li>3 ans +</li>
                <li>Créatif</li>
                <li>SASS</li>
                <li>Javascript</li>
            </ul>
        </div>
    </div>

</div>
