<div class="general">

    <div class="left-side">

        <div class="logo-ping">
            <img class="ping" src="assets/logo-ping/blue_logo.png" alt="">
        </div>

        <div class="keywords">
            <div class="menu-keywords">
                <ul>
                    <li>3 ans +</li>
                    <li>Créatif</li>
                    <li>Javascript</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-center">
        <div class="container-text">
            <h2 class="title">Front End Developer</h2>
            <hr class="line">
            <h4 class="company">Silicon Salad</h4>
            <p class="description">
                Un poste de Développeur Front-end en CDI. Travailler dans une
                ambiance bienveillante et stimulante et l’opportunité de vous
                investir dans des projets variés et passionnants
            </p>
        </div>
    </div>

    <div class="right-side">

        <div class="company-card">

            <div class="logo-company">
                <img class="logo" src="assets/img/logo.png" alt="logo">
            </div>

            <div class="container-text">
                <h2 class="title">A propos de l'entreprise</h2>
                <hr class="line">
                <div class="description">
                    Silicon Salad, c’est avant tout une équipe de 25 passionnés prêts à décrocher la lune pour vous
                    faire briller sur le web. Depuis plus de 10 ans, nos expertises complémentaires nous permettent
                    de vous apporter une approche digitale complète.
                    Nous travaillons de manière collaborative : en faisant appel à nous, vous faites partie de
                    l’équipe.
                </div>
            </div>
        </div>

        <section class="map">
            <iframe class="carte" width="100" height="80" margin="3px" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=3.0698096752166752%2C50.61767404307959%2C3.0730175971984863%2C50.61957666224991&amp;layer=mapnik"
                style="border: 1px solid black"></iframe>
        </section>

        <div class="btn ping">


        </div>

    </div>


</div>