<div class="body">

    <div class="logo-and-keywords">
        <header class="header">
            <div class="logo-container">
                <img class="logo-white" src="assets/logo-ping/logo-blanc.png" alt="">
                <img class="logo" src="assets/logo-ping/blue_logo.png" alt="">
            </div>
        </header>

        <div class="menu-keywords">
            <p class="skills">3 ans +</p>
            <p class="skills">Créatif</p>
            <p class="skills">Javascript</p>
        </div>
        <div class="return">
        <i class="fas fa-arrow-circle-left back return-bis" routerLink="/search-user"></i>
        </div>
    </div>

    <div class="container-center">
        <div class="container-text-offer">
            <h2 class="title">Front End Developer</h2>
            <hr class="line-offer">
            <h4 class="company">Silicon Salad</h4>
            <p class="description-offer">
                Un poste de Développeur Front-end en CDI. Travailler dans une ambiance bienveillante et stimulante et
                l’opportunité de vous investir dans des projets variés et passionnants.
                <br>
                <li>Proposer des expériences utilisateurs de qualité sur chaque projet.</li>
                <li>Travailler sur les évolutions et la maintenance des sites de nos clients.</li>
                <li>Optimisations UX, performance, design ou refonte.</li>
                <li>Suivre le cycle de vie des sites et applications. • Faire briller Silicon Salad et contribuer à
                    l’obtention de prix/récompenses.</li>
            </p>

            <div class="key-words">
                <p class="words">CDI</p>
                <p class="words">Vieux-Lille</p>
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="card-and-mapp">
            <div class="company-card">
                <div class="logo-company">
                    <img class="logo-picture" src="assets/img/logo.png" alt="logo">
                </div>
                <div class="container-text-company">
                    <h2 class="title-company">A propos de l'entreprise</h2>
                    <hr class="line-company">
                    <div class="description-company">
                        Silicon Salad, c’est avant tout une équipe de 25 passionnés prêts à décrocher la lune pour vous
                        faire briller sur le web. Depuis plus de 10 ans, nos expertises complémentaires nous permettent
                        de vous apporter une approche digitale complète.
                        Nous travaillons de manière collaborative : en faisant appel à nous, vous faites partie de
                        l’équipe.
                    </div>
                </div>
            </div>

            <section class="map">
                <iframe class="carte" width="100" height="80" margin="3px" frameborder="0" scrolling="no"
                    marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=3.0698096752166752%2C50.61767404307959%2C3.0730175971984863%2C50.61957666224991&amp;layer=mapnik"
                    style="border: 1px solid black"></iframe>
            </section>
        </div> ​
        <div class="ping">
        <button class="btn-ping" routerLink="/dashboard-user">                
            <p>Je Ping cette entreprise</p>
        </button> ​
         ​</div>
    </div>
</div>