<div class="container">
            <div class="image">
                <img class="logo" src="assets/img/logo.png" alt="logo">
            </div>
            <div class="container-text">
                    <h2 class="title">A propos de l'entreprise</h2>
                    <hr class="line">
                    <p class="description">
                        Silicon Salad, c’est avant tout une équipe de 25 passionnés prêts à décrocher la lune pour vous faire briller sur le web. Depuis plus de 10 ans, nos expertises complémentaires nous permettent de vous apporter une approche digitale complète.
                        Nous travaillons de manière collaborative : en faisant appel à nous, vous faites partie de l’équipe.
                    </p>
                   
            </div>
            <div class="right-side">
                <i class="far fa-edit modif"></i>
            </div>
</div>

