<div class="body">
        <div class="logo">
                <img class="logo-img" src="assets/logo-ping/blue_logo.png" alt="" routerLink="/">
        </div>
        <div class="navbar-user">
                <div class="container">
                        <div class="container-element" routerLink="/search-user" routerLinkActive="router-active">
                                <i class="fas fa-search icon"></i>
                                <p class="container-text">Recherche</p>
                        </div>
                        <div class="container-element" routerLink="/dashboard-user" routerLinkActive="router-active">
                                <i class="fas fa-clipboard-list icon"></i>
                                <p class="container-text">Dashboard</p>
                        </div>
                        <div class="container-element" routerLink="/profile-user" routerLinkActive="router-active">
                                <i class="fas fa-user icon"></i>
                                <p class="container-text">Mon Profil</p>
                        </div>

                </div>

                <div class="deconnexion">
                        <a (click)="onLogout()" class="log-out" routerLink="/">Déconnexion</a>
                </div>

        </div>