<div class="general">
    <!------------Inscription-------------->
    <div class="inscription">
        <div class="img">
            <img src="assets/logo-ping/logo-blanc.png" alt="">
        </div>

        <h2 class="title-white">Inscription Entreprise</h2>
        <form class="form" action="">
            <input class="input" type="text" placeholder="Nom entreprise">
            <input class="input" type="text" placeholder="Mot de passe entreprise">
        </form>
        <a class="btn-white" href="">Enregistrer</a>
        <a class="back" href="">Retour</a>
    </div>

    <!------------Connexion-------------->

    <div class="connexion">
        <div class="price">
                <h2 class="title">VOIR <br> NOS <br> TARIFS</h2>
                <h4 class="subscribe">
                    Gratuit<br>
                    Premium<br>
                    PremiumPlus
                </h4>
                <i class="fas fa-arrow-right fleche" routerLink="/price"></i>
        </div>
        
    </div>
</div>