<div class="general">
    <div class="logo">
            <img class="logo" src="assets/logo-ping/blue_logo.png" alt="" routerLink="/">
    </div>
    <h1>Politique de cookies, Politique de confidentialité et Conditions d'utilisation</h1>

        <h2>Politique concernant les cookies</h2>
            <div class="text">
                <p>Dernière mise à jour : 24 mai 2019

                    En utilisant les sites web Ping (le « Site ») ou en y accédant, vous acceptez qu’Ping utilise les cookies comme décrit ci-dessous. Toutes les références à « Chercheur d’emploi » et à « Employeur » sont définies comme prévu dans l’Introduction aux Conditions d’Utilisation d’Ping.
                    Aux fins de la présente Politique de Cookies, « Ping » ou « nous » désigne Ping, Inc. si vous êtes un Chercheur d’emploi ou un Employeur établi aux États-Unis, Ping Brasil Pesquisa de Empregos ltda. si vous êtes un Employeur établi au Brésil, Ping India Operations (Pte.) Ltd. si vous êtes un Employeur établi en Inde,
                    Ping Singapore Operations (Pte.) Ltd. si vous êtes un Employeur établi dans la région Asie-Pacifique, Ping Ireland Operations Limited si vous êtes un Chercheur d’emploi ou un Employeur établi ailleurs, et Ping Hire, Inc. si vous bénéficiez des services Ping Hire.</p>       
            </div>
            <h3>1. Introduction : qu’est-ce qu’un cookie ?</h3>
            <div class="text">
                <p>La présente Politique de Cookies a pour but de clarifier les circonstances dans lesquelles des cookies peuvent être envoyés sur les ordinateurs 
                    des visiteurs du Site (ci-après désignés par « nous », « notre » ou « nos »). 
                    Les « cookies » sont des informations de nature textuelle envoyées par un site web sur le disque dur ou sur tout autre dispositif de navigation web de l’utilisateur dans le but de conserver certaines informations. Les cookies permettent à un site de conserver les informations nécessaires pour rendre votre navigation plus confortable. 
                    Un cookie contient généralement le nom du domaine qui l’a émis, sa « durée de vie » et un identifiant unique sous forme numérique ou autre généré aléatoirement. Certains cookies seront utilisés sur le site, que vous soyez connecté à votre compte ou non.

                    Les cookies de session sont des cookies temporaires stockés dans le fichier des cookies de votre navigateur jusqu’à ce que vous quittiez le site
                    
                    Les cookies persistants sont stockés beaucoup plus longtemps dans le fichier des cookies de votre navigateur
                     (la durée de stockage du cookie dépendant toutefois de sa durée de vie). Lorsque nous utilisons des cookies de session pour surveiller 
                     le nombre total de visiteurs sur notre site, nous procédons de manière anonyme et agrégée (ces cookies ne contiennent pas de données personnelles). 
                     Nous pouvons également être amenés à utiliser des cookies pour identifier votre ordinateur lorsque vous revenez sur notre site afin de personnaliser votre expérience web Ping. 
                    Dans ces cas-là, il arrive que nous associions des données personnelles à un fichier de cookies.</p>       
            </div>
            <h3>2. Comment Ping utilise les cookies</h3>
            <div class="text">
                <p>Nous utilisons des cookies, des balises web et d’autres technologies de stockage 
                    de partenaires tiers tels que Google et Facebook afin de fournir des services de mesure et d’optimiser les Annonces Ciblées, ainsi qu’à des fins de marketing.
                     Vous y serez confronté sur le Site et lors du téléchargement ou de l’installation d’une application Ping. Ils nous permettent d’afficher les contenus publicitaires d’Ping sur les autres sites Internet 
                     que vous consultez. Ping peut également communiquer des informations concernant votre comportement sur le Site à des tiers (y compris les exploitants de sites web tiers et/ou de réseaux sociaux) afin 
                     de vous présenter des annonces publicitaires ciblées et d’autres contenus adaptés à votre profil. Nous recourons également aux cookies pour faciliter le programme d’Annonces Ciblées Ping. Dans ce programme, 
                     les cookies utilisés servent à déterminer quelles publicités ont été vues par les utilisateurs et à combien de reprises une publicité particulière a été vue par les utilisateurs.</p>       
            </div>
                <h4>Analyse</h4>

                    <div class="text">
                        <p>Ping et ses filiales (telles que définies à l’article 4.12 de la Politique de Confidentialité) utilisent des cookies pour analyser l’activité des utilisateurs afin d’améliorer le Site et les sites web des 
                            filiales d’Ping. Nous pouvons, par exemple, utiliser les cookies pour dégager des tendances générales telles que le nombre moyen de recherches d’emploi effectuées par les utilisateurs. Les informations recueillies
                             grâce à ces analyses nous serviront à améliorer le fonctionnement et l’expérience utilisateur de notre site.</p>
                    </div>
                <h4>Vos préférences et votre expérience utilisateur</h4>
                <div class="text">
                    <p>Ping et ses filiales utilisent les cookies pour collecter certaines informations sur les utilisateurs, telles que le type de navigateur, le serveur, la préférence de langue et le paramètre relatif au pays, dans le but
                         d’enregistrer les préférences de l’utilisateur sur notre Site et de rendre ainsi votre expérience d’utilisation plus homogène et confortable. Ainsi, nous pouvons par exemple enregistrer dans un cookie les recherches 
                         que vous avez effectuées récemment, pour que vous puissiez les relancer facilement à votre retour sur notre Site, ou afin que nous puissions vous suggérer des informations de profil lorsque vous créez un compte et remplissez 
                         un CV Ping. De plus, nous utilisons les cookies pour maintenir votre statut de connexion lorsque vous consultez notre Site de manière répétée. Nous pouvons également utiliser votre adresse IP pour déterminer l’endroit où vous vous 
                         trouvez (ville ou code postal) et vous présenter ainsi les résultats de recherche les plus pertinents.</p>
                </div>
                <h4>Services de mesure, optimisation des Annonces Ciblées et marketing</h4>
                <div class="text">
                    <p>Nous utilisons des cookies, des balises web et d’autres technologies de stockage de partenaires tiers tels que Google et Facebook afin de fournir des services de mesure et d’optimiser les Annonces Ciblées, ainsi qu’à des fins de marketing.
                         Vous y serez confronté sur le Site et lors du téléchargement ou de l’installation d’une application Ping. Ils nous permettent d’afficher les contenus publicitaires d’Ping sur les autres sites Internet que vous consultez. Ping peut également
                          communiquer des informations concernant votre comportement sur le Site à des tiers (y compris les exploitants de sites web tiers et/ou de réseaux sociaux) afin de vous présenter des annonces publicitaires ciblées et d’autres contenus adaptés à votre profil. 
                          Nous recourons également aux cookies pour faciliter le programme d’Annonces Ciblées Ping. Dans ce programme, les cookies utilisés servent à déterminer quelles publicités ont été vues par les utilisateurs et à combien de reprises une publicité particulière a été vue par les utilisateurs. 
                          Vous avez le droit de vous opposer à l’utilisation légitime de vos Données personnelles à des fins de marketing. Pour désactiver la collecte et l’utilisation de vos données pour le ciblage publicitaire, ou pour faire valoir tout autre droit, veuillez exercer vos droits tels que décrits à l’article 10 de notre Politique de Confidentialité.</p>
                </div>
                <h4>Suivi de référence</h4>
                <div class="text">
                    <p>Les cookies nous permettent d’associer l’activité d’un utilisateur
                         à un site web tiers qui a renvoyé l’utilisateur vers notre Site, ou d’associer l’activité d’un utilisateur qu’Ping a renvoyé vers un site web tiers. 
                         Certains de ces sites web tiers sont des sites web partenaires qui reçoivent des crédits pour les activités des utilisateurs renvoyés vers notre Site, 
                         ou donnent des crédits à Ping en échange des activités des utilisateurs renvoyés vers leurs sites. Nous ne partageons avec ces sociétés partenaires aucune donnée personnelle 
                         ni aucune information concernant les activités d’un utilisateur. Cependant, il est possible que nous partagions des informations avec des Employeurs, par exemple le site web tiers que vous étiez en train de visiter 
                         lorsque vous avez cliqué sur un lien Ping menant à une liste d’emploi ou à un événement de recrutement. Nous recourons également aux cookies pour associer l’activité d’un utilisateur avec la campagne d’emailing qui a renvoyé l’utilisateur vers notre Site.</p>
                </div>
                <h4>Sécurité</h4>
                <div class="text">
                    <p>Nous utilisons les cookies pour limiter certains types de cyberattaque.</p>
                </div>
                <h4>Tests, utilisation et amélioration des performances</h4>
                <div class="text">
                    <p>Nous utilisons les cookies pour garantir aux utilisateurs une expérience homogène lorsque nous procédons à des tests A/B concernant certains aspects de notre site
                         dans le but d’améliorer nos offres de produits. Nous recourons également aux cookies pour améliorer les performances et la fiabilité de notre site.</p>
                </div>
                <h4>Prévention de la fraude et des messages indésirables</h4>
                <div class="text">
                    <p>Les cookies nous sont utiles lorsque nous examinons les cas de fraude et procédons à des enquêtes. Certaines actions de suivi des cookies/appareils sont prises en charge 
                        par des prestataires tiers tels que SiftScience, mais nous utilisons parfois nos propres index pour identifier l’activité relative à certains cookies.</p>
                </div>
                <h4>Marketing</h4>
                <div class="text">
                    <p>Nous utilisons des cookies, des balises web et d’autres technologies de stockage de partenaires tiers tels que Google et Facebook afin de fournir des services de mesure et d’optimiser
                         les Annonces Ciblées, ainsi qu’à des fins de marketing. Vous y serez confronté sur le Site et lors du téléchargement ou de l’installation d’une application Ping. Ils nous permettent d’afficher les contenus publicitaires d’Ping sur les autres 
                         sites Internet que vous consultez. Ping peut également communiquer des informations concernant votre comportement sur le Site à des tiers (y compris les exploitants de sites web tiers et/ou de réseaux sociaux) afin de vous présenter des annonces publicitaires ciblées et d’autres contenus 
                         adaptés à votre profil. Nous recourons également aux cookies pour faciliter le programme d’Annonces Ciblées Ping. Dans ce programme, les cookies utilisés servent à déterminer quelles publicités ont été vues par les utilisateurs et à combien de reprises une publicité particulière a été vue par les utilisateurs. 
                         Vous avez le droit de vous opposer au traitement de vos
                          Données personnelles à des fins de marketing. Pour désactiver la collecte et l’utilisation de vos données pour le ciblage publicitaire, ou pour faire valoir tout autre droit, veuillez exercer vos droits tels que décrits à l’article 10 de notre Politique de Confidentialité.</p>
                </div>
                <h3>3. Gérer les cookies dans votre navigateur</h3>
                <div class="text">
                    <p>Utilisez les options de votre navigateur web si vous ne souhaitez pas recevoir de cookies ou si vous souhaitez que leur réception vous soit notifiée. 
                        Vous pouvez aisément supprimer et gérer les cookies qui ont été placés dans le répertoire des cookies de votre navigateur en suivant les instructions fournies par le développeur de votre navigateur.</p>
                </div>
                <ul>
                    <li><a class="link" href="https://support.google.com/chrome/answer/95647?hl=fr">Google Chrome</a></li>
                    <li><a  class="link" href="https://support.microsoft.com/fr-fr/help/260971/description-of-cookies">Internet Explorer</a></li>
                    <li><a class="link" href="https://support.mozilla.org/fr/kb/cookies-informations-sites-enregistrent">Mozilla Firefox</a></li>
                    <li><a class="link" href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac">Safari (pour ordinateur)</a></li>
                    <li><a class="link" href="https://support.apple.com/fr-fr/HT201265">Safari (pour mobile)</a></li>
                    <li><a class="link" href="https://support.google.com/nexus/answer/54068?visit_id=1-636586460409191609-3183169074&hl=fr&rd=1">Android Browser</a></li>
                    <li><a class="link" href="https://www.opera.com/fr/help">Opera</a></li>
                    <li><a class="link" href="https://help.opera.com/fr/mobile/android/">Opera Mobile</a></li>
                </ul>
</div>
