<div class="general">
    <div class="menu">
        <app-navbar-company></app-navbar-company>
    </div>
    <div class="burger">
        <div class="menu-toggle">
            <input type="checkbox" />
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>

            <ul class="burger-menu-elem">
                <a class="text-menu" href="#">
                    <li>Search</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Ping</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Dashboard</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Profil</li>
                </a>
                <a class="text-menu" href="#">
                    <li>Annonces</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="info">
            <div class="info-bloc">
                <div class="info-title">
                    <h2 class="title">Informations</h2>
                </div>

                <!-- <form   class="form" action="">
                    <label class="label" for="">Nom</label>
                    <input [(ngModel)]="votreNom"  class="input" type="text" placeholder="Silicon Salad">
                    <label class="label" for="">Mail</label>
                    <input [(ngModel)]="votreMail"   class="input" type="text" placeholder="contact@siliconsalad.com">
                    <label class="label" for="">Téléphone</label>
                    <input class="input" type="text" placeholder="03 20 45 31 90">
                    <label class="label" for="">Mot de passe</label>
                    <input class="input" type="text" placeholder="************">
                </form> -->
                <form class="form" action="">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="{{route.snapshot.data.company.name}}" value="{{route.snapshot.data.company.name}}">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mail</mat-label>
                        <input matInput placeholder="{{route.snapshot.data.company.email}}" value="{{route.snapshot.data.company.email}}">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Téléphone</mat-label>
                        <input matInput placeholder="{{route.snapshot.data.company.phone}}" value="{{route.snapshot.data.company.phone}}">
                    </mat-form-field>
                    <mat-form-field>
                            <mat-label>Mot de passe</mat-label>
                            <input matInput placeholder="{{route.snapshot.data.company.password}}" value="{{route.snapshot.data.company.password}}">
                        </mat-form-field>
                </form>
            </div>
        </div>
        <div class="about">
            <div class="about-bloc">
                <div class="container">
                    <div class="image">
                        <img class="logo" src="assets/img/logo.png" alt="logo">
                    </div>
                    <div class="container-text">
                        <h2 class="title-about">{{ route.snapshot.data.company.name }}</h2>
                        <hr class="line">
                        <p class="description">
                        {{ route.snapshot.data.company.about }}
                        </p>

                    </div>
                    <div class="right-side">
                        <i class="far fa-edit modif"></i>
                    </div>
                </div>
                <div class="bottom-info">
                    <div class="info-title-reseaux">
                        <h2 class="title-reseaux">Réseaux</h2>
                    </div>
                    <div class="btn-social">
                        <div class="logo-social">
                            <i class="fab fa-facebook-f social"></i>
                            <i class="fab fa-twitter social"></i>
                            <i class="fab fa-linkedin-in social"></i>
                            <i class="fas fa-link site"></i>
                        </div>
                        <div class="link-social">
                            <a class="link" href="http://facebook.com">{{ route.snapshot.data.company.facebook }}</a>
                            <a class="link" href="http://twitter.com">{{ route.snapshot.data.company.twitter }}</a>
                            <a class="link" href="http://linkedin.com">{{ route.snapshot.data.company.linkedin }}</a>
                            <a class="link" href="http://link.com">{{ route.snapshot.data.company.link}}</a>
                        </div>

                    </div>
                    <div class="modifier">
                        <div class="btn-modifier">Modifier</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>