///////////// GENERAL /////////////
.general {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: center;

}

///////////// MAIN /////////////

.main {
    display: flex;
    // background-color: rgb(148, 151, 170);
    height:100vh;
    width: 100%;

}

///////////// INFO /////////////

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgb(141, 140, 140);
    width:45%;
    margin-top: 40px;
}

.info-bloc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    // background-color:#60A4FF;
    width:70%;
    height:80vh;
}


.form {
    display: flex;
    flex-direction: column;
    width:80%;
}

// .input {
//     display: flex;
//     flex-direction: column;
//     // background-color: rgb(134, 87, 87);
//     width:70%;
//     height:100%;
// }

.label {
    color: grey;
    margin: 5px 0px 5px 0px;
}

.input {
    background-color: white;
    border: 1px solid #60A4FF;
    padding:10px 10px;
}

.modifier  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    // background-color: rgb(83, 63, 63);
    width: 85%;
    padding:20px;
    margin:5px;
   
}

.btn-modifier {
    color: white;
    background-color: #60A4FF;
    padding:10px 15px;
    border-radius: 20px;
}


///////////// ABOUT /////////////

.about {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: rgb(153, 158, 202);
    width:55%;
}

.about-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:10%;
    // background-color: rgb(47, 45, 68);
    width:80%;
    height:80vh;
}

.info-title {
    background-color: #60A4FF;
    padding: 5px 40px;
    margin:7%;

}

.title {
    color: white;
    font-size:14px;
}

.reseaux {
    margin: 15px;
}

.network {
    color: white;
    background-color: #60A4FF;
    padding:10px;
    margin-left: 10px;
}

.website {
    color: #60A4FF;
    text-decoration: none;
}


//// INPUT ///
