<div class="general">
    <app-navbar-company></app-navbar-company>
    <div class="main">
        <div class="info">
                <div class="informations">
                        <h2 class="title">Informations</h2>
                        <form class="form" action="">
                            <label for="">Nom</label>
                            <input class="input" type="text" placeholder="Silicon Salad">
                            <label for="">Mail</label>
                            <input class="input" type="text" placeholder="contact@siliconsalade.com">
                            <label for="">Téléphone</label>
                            <input class="input" type="text" placeholder="03 20 45 31 90">
                            <label for="">Mot de passe</label>
                            <input class="input" type="text" placeholder="*************">
                        </form>
        
                    <div class="btn">
                            <button class="modif">Modifier</button>
                    </div>
                </div>    
        </div>
        <div class="about">
            <div class="deux">
                    <app-company-card></app-company-card>
                    <div class="title-header">
                        <h2 class="title-reseau">Réseaux</h2>
                    </div>
                    
                    <div class="btn-social">
                            <i class="fab fa-facebook-f social" routerLink="/error-404"></i>
                            <i class="fab fa-twitter social" routerLink="/error-404"></i>
                            <i class="fab fa-linkedin-in social" routerLink="/error-404"></i>
                    </div>  
            </div>
        </div>
    </div>
</div>
