<div class="body">

    <div class="container-candidate">

        <div class=container-blue>

            <div class="text">
                <div class="container-img">
                    <img class="picture" src="assets/avatar/portrait.jpg">
                </div>
                <div class="name">Mathieu Veys</div>
                <div class="job-title"> Developpeur Web</div>
                <div class="date">11/06/2019</div>
                <div class="message">
                    <div class="lepoint"></div>
                </div>  
                <div class="btn-download">
                    <i class="fas fa-arrow-down fleche"></i>
                </div>
            
                <div class="btn-detail-small">
                    <i class="fas fa-plus-circle plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>