<div class="blue">
    <div class="sous-container">
        <img class="profile" src="../assets/avatar/portrait.jpg">
    </div>
    <div class="container-text">
        <div class="top">
            <h4 class="title">Mathieu Degong</h4>
            <!-- ?ContractType ici? -->
            <!-- <p class="contract-type">CDI</p> -->
        </div>
        <p class="description">
            A college leaver with an out-going personality, excellent communication, management and IT skills and a strong interest in books and computers.
        </p>
        <div class="key-words">
            <p class="words">Delphy</p>
            <p class="words">Clojure</p>
            <p class="words">Cobol</p>
        </div>
    </div>
    <div class="right-side">
        <!-- un utilisateur peut postuler sur plusieurs annonces, de quel statut parle-t-on ici donc ? -->
        <div class="statut"></div>
        <!-- <i class="fas fa-plus-circle plus"></i> -->
    </div>
</div>