<div class="general">
    <div *ngIf="authService.isLoggedIn | async as isLoggedIn else noLogin">
        <app-navbar-user></app-navbar-user>
    </div>
    <ng-template #noLogin>
        <app-navbar-nologin></app-navbar-nologin>
    </ng-template>
    <div class="sous-general">
        <section class="search">
            <app-input-search></app-input-search>
            <div class="contract">
                    <p class="type">CDD</p>
                    <p class="type">CDI</p>
                    <p class="type">STAGE</p>
                    <p class="type">ALTERNANCE</p>
                    <p class="type">FREELANCE</p>
            </div>
            <!--Pour vérifier que tous les éléments soient chargés-->
            <div *ngIf="offerListLoaded && companyListLoaded && contractTypeListLoaded && keyWordListLoaded" class="container">
                <div *ngFor="let offer of offerList" class="box">
                    <div class="sous-container">
                        <div class="container-text">
                            <h2 class="title">{{ offer.title }}</h2>
                            <hr class="line">
                            <h4 class="company">{{ companyList[offer.company_id-1].name }}</h4>
                            <p class="description">{{ offer.description }}</p>
                        </div>
                        <div class="right-side">
                            <p class="contract-type">{{ contractTypeList[offer.contractType_id-1].name }}</p>
                        </div>
                    </div>
                    <div class="key-words">
                        <p class="words">{{ keyWordList[offer.keyWordOne_id-1].name }}</p>
                        <p class="words">{{ keyWordList[offer.keyWordTwo_id-1].name }}</p>
                        <p class="words">{{ keyWordList[offer.keyWordThree_id-1].name }}</p>
                    </div>
                    <div class="btn-plus">
                        <i class="fas fa-plus-circle plus" routerLink="/offer-user"></i>
                    </div>
                   
                </div>
            </div>
        </section>
        <section class="map" id="map"></section>
        <!-- <section class="map">
                <iframe class="carte" width="500" height="560" margin="3px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.0698096752166752%2C50.61767404307959%2C3.0730175971984863%2C50.61957666224991&amp;layer=mapnik" style="border: 1px solid black"></iframe>
        </section> -->
    </div>
</div>
