<div class="general">
    <app-navbar-user></app-navbar-user>
    <div class="sous-general">
        <section class="search">
            <app-input-search></app-input-search>
            <div class="contract">
                    <p class="type">CDD</p>
                    <p class="type">CDI</p>
                    <p class="type">STAGE</p>
                    <p class="type">ALTERNANCE</p>
                    <p class="type">FREELANCE</p>
            </div>
            <app-offer-card></app-offer-card>
        </section>
        <section class="map">
                <iframe class="carte" width="500" height="560" margin="3px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.0698096752166752%2C50.61767404307959%2C3.0730175971984863%2C50.61957666224991&amp;layer=mapnik" style="border: 1px solid black"></iframe>
        </section>
    </div>
</div>
