<div class="body">
    <div class="logo">
        <img class="logo-img" src="assets/logo-ping/blue_logo.png" alt="" routerLink="/">
    </div>
    <div class="navbar-user">
        <div class="container">
            <div class="container-element" routerLink="/search-user" routerLinkActive="router-active">
                <i class="fas fa-search icon"></i>
                <p class="container-text">Recherche</p>
            </div>
            <a class="connexion" routerLink="/identification-user">Connexion</a>
        </div>
        <div class="deconnexion">
            <a class="log-out" routerLink="/">Accueil</a>
        </div>
    </div>