
/************************* GÉNÉRAL *******************/

.body {
    background-color: white;
    color: white;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    // background-color: blue;

}

.logo {
    display: flex;
    flex-direction: column;
    padding:20px;
}
.logo-img{
    outline: none;
}

/************************* NAVBAR *******************/

.navbar-user {
    background-color: #60A4FF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 60px 0 0px;
    margin-top: 10px;
    height:100vh;
    width:68%;
    
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top:30%;
    width:100%;
    text-align: center;
}

.connexion {
    color:#60A4FF;
    padding:5%;
    margin-bottom:10%;
    background-color: #fff;
    text-decoration:none;
    
}

.inscription {
    color:#60A4FF;
    padding:5%;
    background-color: #fff;
    text-decoration:none;
}

.container-element {
    margin-bottom:5px;
    // padding:9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    // width:100%;
    outline:none;
}

.container-element:hover{
    background-color: white;
    color:#60A4FF;
}

.container-element:active{
    background-color: white;
    color:#60A4FF;
}

.router-active {
    background-color: white;
    color:#60A4FF;
}


.icon {
    font-size: 27px;
    padding: 17px;
  
}

.container-text {
    text-align: center;
    font-size:9px;
    margin:0;
    padding:0;

}

.log-out {
    font-size:10px;
    padding:3%;
    background-color: white;
    color: #60A4FF;
    transition: all;
    text-decoration: none;
}

.log-out {
    border:1px solid white;
    background-color: #60A4FF;
     color: white;
     font-size:14px;
     padding:5px;
}

.deconnexion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10%;
}
.log-out:hover{
    color:#60A4FF;
    border:1px solid #60A4FF;
    background-color: white;
}