<div class="general">


    <!------------Inscription-------------->
    <div class="inscription">
        <div class="logo">
            <img src="assets/logo-ping/blue_logo.png" alt="" routerLink="/">
        </div>

        <h2 class="title-white">Inscription</h2>
        <form [formGroup]="formSignUp" (ngSubmit)="onSubmitSignUp()" class="form">
            <mat-form-field>
                <mat-label>Email de l'entreprise</mat-label>
                <input matInput placeholder="IBM" formControlName="companyEmail" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mot de passe entreprise</mat-label>
                <input type="password" matInput placeholder="*******" formControlName="companyPassword" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email de l'utilisateur</mat-label>
                <input matInput placeholder="catherine.dupont@ibm.com" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nom de l'utilisateur</mat-label>
                <input matInput placeholder="Hugues Dupont" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mot de passe utilisateur</mat-label>
                <input type="password" matInput placeholder="*******" formControlName="password" required>
            </mat-form-field>
            <div class="button">
                <button class="btn-white">Enregistrer</button>
            </div>
        </form>
        <p class="register">Votre entreprise n'est pas enregistrée ? Cliquez <span class="pointer" routerLink="/sign-up-company">ici</span></p>
    </div>

    <!------------Connexion-------------->

    <div class="connexion">
        <h2 class="title-blue">Connexion</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-blue">
            <mat-form-field>
                <mat-label>User Email</mat-label>
                <input matInput placeholder="catherine.dupont@ibm.com" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>User Mot de passe</mat-label>
                <input type="password" matInput placeholder="*******" formControlName="password" required>
            </mat-form-field>
            <p *ngIf="authCompanyService.loginAttempt">Connexion au serveur...</p>
            <p *ngIf="authCompanyService.loginAccepted">Connexion acceptée !</p>
            <p *ngIf="authCompanyService.loginError">Erreur de connexion !</p>
            <button class="btn-blue">Connexion</button>
        </form>
    </div>
</div>