///////// GÉNÉRAL ////////
.general {
    display: flex;
    height: 100vh;
    // background-color: rgb(175, 106, 106);
}

img {
    cursor: pointer;
}

.logo {
    display: flex;
    // background-color: rgb(80, 52, 52);
    width: 90%;
    margin: 20px;
    padding: 10px;
}

:focus {
    outline: 0;
}

.pointer {
    cursor: pointer;
}

///////// INSCRIPTION ////////
.inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    background-color: #E9F6FF;
    height: 100vh;
    border-radius: 0% 30% 0% 0%;
    position: relative;
}

.title-white {
    background-color: #60A4FF;
    padding: 15px 50px 15px 50px;
    color: white;
    border-radius: 10px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
}

.title-blue {
    background-color: #60A4FF;
    padding: 15px 50px 15px 50px;
    color: white;
    border-radius: 10px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
    margin-top: 24%;
}

///////// CONNEXION ////////
.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // background-color: rgb(76, 19, 141);
    height: 100vh;
    width: 40%;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.input {
    width: 140%;
    padding: 19px 30px 19px 9px;
    border: 1px solid white;
    background-color: #60A4FF;
    outline: none;
    color: white;
    margin: 10px;
    font-size: 10px;
}

.input-blue {
    width: 140%;
    padding: 19px 30px 19px 9px;
    border: 1px solid #60A4FF;
    background-color: white;
    outline: none;
    color: white;
    margin: 10px;
    font-size: 10px;
}

.input-blue::placeholder {
    color: #60A4FF;
}

.register {
    color: #60A4FF;
    font-size: 10px;
}

.register span {
    color: #60A4FF;
    font-weight: bolder;
    background-color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
}

.btn-white {
    outline: none;
    font-size: 16px;
    color: white;
    background-color: #60A4FF;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    right: 240px;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0);
}

.btn-white:hover {
    color: #60A4FF;
    border: 1px solid #60A4FF;
    background-color: white;
}

.btn-blue {
    outline: none;
    font-size: 16px;
    color: white;
    background-color: #60A4FF;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    left: 280px;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0);
}

.btn-blue:hover {
    color: #60A4FF;
    border: 1px solid #60A4FF;
    background-color: white;
}

button {
    border: none;
    cursor: pointer;
}